.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .Casa3D {
    pointer-events: none;
    width: 100%;
    height: auto;
    margin: auto;
    /*display: block;*/
    object-fit: contain;
    border-radius: 15px;
    margin-left: 60px;
    margin-right: 60px;
    width: 190vmin;
  }
}
.Botao{
  position: absolute;
  top: 95%;
  left: 83%;
  transform: translate(-50%, -50%);
  padding: 20px 40px;
  font-size: 25px;
  font-family: 'Consolas';
  background-color:whitesmoke;
  color: black;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: .3s ease;
  &:hover {background-color: #6abce2;}
}

/*
.Texto_na_imagem{
  position: absolute;
  top: 80%;
  left: 83%;
  transform: translate(-450%, -50%);
  padding: 20px -200px;
  background-color: whitesmoke;
  font-size: 20px;
  font-family: 'Consolas';
  color: gray;
  border: none;
  cursor: pointer;
  transition: .3s ease;
}*/

.App-header{
  background-color: white;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 80px;
  font-size: 125%;
}

.App-body {
  background-color: whitesmoke;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(26, 33, 33);
  object-fit: contain;
  
}
.Imagem{
  
  border-radius: 15px;
}

.App-link {
  color: #61dafb;
}

.Texto{
  background-color: white;
  color: black;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 30px;
  //position: absolute;
}
.App-footer{
  background-color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
